{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/output.css' %}">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    <h3>Here start dashboard. every user need this headline</h3>
    <p class="bg-green-500 mt-6">here use static file css</p>
    <img src="{% static "image/Capture.PNG" %}" alt="">
    {% block tasks %}
    {% endblock tasks %}
    {% include "new.html" %}
</body>
</html>